<div class="actions" *ngIf="creatorService.connected">
  <h3>Actions</h3>

  <div class="group smartAssets">
    <h4>Smart assets</h4>
    <app-action-get-available-smart-asset-id
      [creator]="creatorService.creator.getValue()"
    ></app-action-get-available-smart-asset-id>

    <app-action-reserve-smart-asset-id
      [creator]="creatorService.creator.getValue()"
    ></app-action-reserve-smart-asset-id>

    <app-action-destroy-smart-asset-id
      [creator]="creatorService.creator.getValue()"
    ></app-action-destroy-smart-asset-id>

    <app-action-recover-smart-asset-id
      [creator]="creatorService.creator.getValue()"
    ></app-action-recover-smart-asset-id>

    <app-action-create-and-store-smart-asset
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-and-store-smart-asset>

    <app-action-create-smart-asset
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-smart-asset>

    <app-action-set-request-key
      [creator]="creatorService.creator.getValue()"
    ></app-action-set-request-key>

    <app-action-update-token-uri
      [creator]="creatorService.creator.getValue()"
    ></app-action-update-token-uri>

    <app-action-update-smart-asset
      [creator]="creatorService.creator.getValue()"
    ></app-action-update-smart-asset>
  </div>

  <div class="group messages">
    <h4>Messages</h4>
    <app-action-create-and-store-message
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-and-store-message>

    <app-action-create-message
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-message>
  </div>

  <div class="group events">
    <h4>Events</h4>

    <app-action-create-and-store-event
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-and-store-event>

    <app-action-create-event
      [creator]="creatorService.creator.getValue()"
    ></app-action-create-event>
  </div>

  <div class="group identity">
    <h4>Identity</h4>

    <app-action-update-identity
      [creator]="creatorService.creator.getValue()"
    ></app-action-update-identity>
  </div>

  <div class="group credits">
    <h4>Credits</h4>

    <app-action-get-credit-balance
      [creator]="creatorService.creator.getValue()"
    ></app-action-get-credit-balance>

    <app-action-get-credit-price
      [creator]="creatorService.creator.getValue()"
    ></app-action-get-credit-price>

    <app-action-buy-credit
      [creator]="creatorService.creator.getValue()"
    ></app-action-buy-credit>
  </div>

  <div class="group aria">
    <h4>Aria</h4>

    <app-action-get-aria-balance
      [creator]="creatorService.creator.getValue()"
    ></app-action-get-aria-balance>

    <app-action-request-testnet-aria20
      [creator]="creatorService.creator.getValue()"
    ></app-action-request-testnet-aria20>
  </div>

  <div class="group chain">
    <h4>Chain</h4>

    <app-action-get-native-balance
      [creator]="creatorService.creator.getValue()"
    ></app-action-get-native-balance>
  </div>
</div>
