:host {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 16px;
  margin-left: 8px;

  div.actions {
    background: #77bb7766;
    padding: 8px;
    border-radius: 4px;
    width: 600px;

    div.action {
      padding: 4px;

      div.action-name {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
