<div class="action">
  <div class="action-name">buyCredit</div>
  <div class="action-input">
    <select [(ngModel)]="creditType">
      <option value="0">smartAsset</option>
      <option value="1">message</option>
      <option value="2">event</option>
      <option value="3">update</option>
    </select>
    <input type="text" placeholder="amount" [(ngModel)]="amount" />
  </div>
  <div class="action-execute">
    <button (click)="action()" [disabled]="loading">
      {{ loading ? 'loading ...' : 'Execute' }}
    </button>
  </div>
  <div class="action-result" *ngIf="result !== null">
    <b>Result:</b> {{ result }}
  </div>
</div>
