<div class="action">
  <div class="action-name">setRequestKey</div>
  <div class="action-input">
    <input type="text" placeholder="id" [(ngModel)]="id" />
  </div>
  <div class="action-input">
    <input
      type="text"
      placeholder="publicKey (optional)"
      [(ngModel)]="publicKey"
    />
    or
    <input
      type="text"
      placeholder="passphrase (optional)"
      [(ngModel)]="passphrase"
    /><br />
    <i>leave empty to use a randomly generated passphrase</i>
  </div>
  <div class="action-execute">
    <button (click)="action()" [disabled]="loading">
      {{ loading ? 'loading ...' : 'Execute' }}
    </button>
  </div>
  <div class="action-result" *ngIf="result !== null">
    <b>Result:</b>
    <textarea
      [ngStyle]="{ width: '100%', height: '112px' }"
      value="{{ result }}"
      spellcheck="false"
    ></textarea>
  </div>
</div>
